setuptools
wheel
ipykernel
numpy
pandas
requests
pyspark
matplotlib
seaborn
findspark
aiohttp
pyarrow
google-cloud-storage
google-cloud-bigquery
pymysql
psycopg2-binary
python-dotenv
apache-airflow
boto3
dlt
dlt[s3]
sqlalchemy-doris